<div class="small-12 columns">
    <h1>Cards</h1>
</div>

<div id="container" class="container clearfix">
    <% for(var i = 0; i < cards.length; i++){ %>
    <div class="small-12 medium-12 large-9 xlarge-6 columns card-item">
        <div class="panel">
            <div><h1><a href="/card/edit/<%- cards[i].id %>" style="color: #555555"><%= cards[i].name %></a></h1>
            </div>
            <iframe class="glass-preview" src="/card/preview/<%= cards[i].id %>"></iframe>
        </div>
    </div>
    <% } %>
</div>

<div class="small-12 columns">
    <a class="button" href="/card/create">New</a>
</div>
