<link rel="stylesheet" href="/styles/custom.css">
	<!--Media Bucket-->
<br><br><br>
<div class="row">
	<div class="medium-4 columns container">
		<div class="row">
			<h3>Media Bucket</h3>
		</div>
		<ul class="small-block-grid-2">
			<li class="box"><span class="label radius">Image</span><a href="#"><img src="http://i.imgur.com/XNhXB15.jpg" /></a></li>
			<li class="box"><span class="label radius">Image</span><a href="#"><img src="http://i.imgur.com/XNhXB15.jpg" /></a></li>
			<li class="box text-justify"><a href="#"><span class="label radius">Text</span><small>This cosmic dance﻿ of bursting decadence and withheld permissions twists all our arms collectively, but if sweetness can win, and it can, then I'll still be here tomorrow, to high five you yesterday my friend. I love Adventure Time. This is a token of how deep the show can be.</small></a></li>
			<li class="box"><span class="label radius">Image</span><a href="#"><img src="http://i.imgur.com/XNhXB15.jpg" /></a></li>
		</ul>
		<br><br>
		<div class="small-10 columns small-offset-1">
			<a href="#" class="button">View Media Bucket</a>
		</div>
	</div>

	<!--GlassGenius-->
	<div class="medium-4 columns container">
		<div class="row">
			<h3>GlassGenius</h3>
		</div>
		<ul class="small-block-grid-2">
			<li class="box text-center"><a href="#">&nbsp;<br>+<br>new story<br><br></a></li>
			<li class="box text-center"><a href="#">&nbsp;<br><br>Ebola<br><br></a></li>
			<li class="box text-center"><a href="#">&nbsp;<br><br>FDR<br><br></a></li>
			<li class="box text-center"><a href="#">&nbsp;<br><br>CicLAvia<br><br></a></li>
		</ul>
	</div>

	<!--POV-->
	<div class="medium-4 columns container left">
		<div class="row">
			<h3>POV</h3>
		</div>
		<div class="row">
			<ul class="small-block-grid-2">
				<li class="box text-center"><a href="#"><br>+<br>new POV<br><br></a></li>
				<li class="box text-center"><a href="#"><br><br>Zio Ziegler<br><br></a></li>
				<li class="box text-center"><a href="#"><br><br>NBA<br><br></a></li>
				<li class="box text-center"><a href="#"><br><br>GCM<br><br></a></li>
			</ul>
		</div>
	</div>
</div>