<div class="row">
<div class="large-7 columns">
<br>
<h1>My Media Bucket</h1>
</div><!--end 7-->
<div class="large-5 columns">
<br><br>
<select>
<option value="Name">Name</option>
<option value="Size">Size</option>
<option value="Item">Item Type</option>
<option value="Date">Date</option>
</select>
</div><!--end 5-->
</div><!--end row-->

<hr />
<div class="row">
<div class="large-6 columns">
<b>Today, Tuesday 10/21</b>
</div><!--end 6-->
<div class="large-6 columns">
</div><!--end 6-->
</div><!--end row-->

<div class="row">
<div class="large-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="large-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="large-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="large-2 columns">
</div><!--end 2-->
<div class="large-2 columns">
</div><!--end 2-->
<div class="large-2 columns">
</div><!--end 2-->
<br>
</div><!--end row-->

<hr />
<div class="row">
<div class="large-6 columns">
<b>Yesterday, Monday 10/20</b>
</div><!--end 6-->
<div class="large-6 columns">
</div><!--end 6-->
</div><!--end row-->

<div class="row">
<div class="large-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="large-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="large-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="large-2 columns">
</div><!--end 2-->
<div class="large-2 columns">
</div><!--end 2-->
<div class="large-2 columns">
</div><!--end 2-->
<br>
</div><!--end row-->
