<div class="row">
<div class="small-7 columns">
<br>
<h1>My Media Bucket</h1>
</div><!--end 7-->
<div class="small-5 columns">
<br><br>
<!--select form-->
<select>
<option value="Name">Name</option>
<option value="Size">Size</option>
<option value="Item">Item Type</option>
<option value="Date">Date</option>
</select>
</div><!--end 5-->
</div><!--end row-->

<hr />
<!--first row for date-->
<div class="row">
<div class="small-6 columns">
<b>Today, Tuesday 10/21</b>
</div><!--end 6-->
<div class="small-6 columns">
</div><!--end 6-->
</div><!--end row-->

<!--first photo row-->
<div class="row">
<div class="small-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="small-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="small-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<br>
</div><!--end row-->

<!--first row for times-->
<div class="row">
<div class="small-2 columns">
<br>
10:20 a.m.
</div><!--end 2-->
<div class="small-2 columns">
<br>
1:23 p.m.
</div><!--end 2-->
<div class="small-2 columns">
<br>
3:05 p.m.
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<br>
</div><!--end row-->

<hr />
<!--first row for date-->
<div class="row">
<div class="small-6 columns">
<b>Yesterday, Monday 10/20</b>
</div><!--end 6-->
<div class="small-6 columns">
</div><!--end 6-->
</div><!--end row-->

<!--first row for photos-->
<div class="row">
<div class="small-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="small-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="small-2 columns">
<br>
<img src="http://i.imgur.com/XNhXB15.jpg">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<br>
</div><!--end row-->

<!--first row for times-->
<div class="row">
<div class="small-2 columns">
<br>
11:30 a.m.
</div><!--end 2-->
<div class="small-2 columns">
<br>
2:33 p.m.
</div><!--end 2-->
<div class="small-2 columns">
<br>
2:34 p.m.
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<div class="small-2 columns">
</div><!--end 2-->
<br>
</div><!--end row-->