<br>
<div class="row">
    <div class="small-6 columns">
        <h1>Story Title</h1>
        <input class="category-name-input" type="text" placeholder="Name">
        <button class="save-button disabled">Save</button>

    </div>
</div>