<br>
<div class="row">
    <div class="small-6 columns">
        <h1>Story Title</h1>
        <input class="category-name-input" type="text" placeholder="Name">
       </div>
       <br><br>
    <div class="small-4 columns">
   	</div>
    <div class="small-2 columns">
    <a href="#">Story Library</a>
    </div>
</div>

<br>

<div class="row">
<div class="small-6 columns">
Preview
</div>
<div class="small-6 columns">
</div>
</div>

<!--possible iframe, Jessie halp-->
<div class="row">
<div class="small-2 columns">
<img src="http://i.imgur.com/XNhXB15.jpg">
</div>
<div class="small-2 columns">
<img src="http://i.imgur.com/XNhXB15.jpg">
</div>
<div class="small-2 columns">
<img src="http://i.imgur.com/XNhXB15.jpg">
</div>
<div class="small-2 columns">
<img src="http://i.imgur.com/XNhXB15.jpg">
</div>
<div class="small-2 columns">
<img src="http://i.imgur.com/XNhXB15.jpg">
</div>
<div class="small-2 columns">
</div>
</div>
<br>
<div class="row">
<div class="small-6 columns">
<button class="save-button disabled">Create new card</button> 
</div>
<div class="small-6 columns">
</div>
</div>

<div class="row">
<div class="small-12 columns">
<hr />
</div>
</div>
