<br>
<div class="row">
    <div class="small-12 columns">
        <h1>Articles</h1>
        <a class="button" href="/article/new">New</a>
    </div>
</div>

<div class="row">
    <div class="small-4 columns">
        <% for(var i = 0; i < articles.length; i++){ %>
        <div class="panel">
            <h2><a href="/article/edit/<%= articles[i].id %>"><%= articles[i].title %></a></h2>
        </div>
    </div>
    <div class="small-4 columns">
        <% } %>
    </div>
</div>