<link rel="stylesheet" href="/styles/home.css">

<div class="row">
	<div class="medium-12 columns">
		<div class="home-title">
		    <h1>Glass Genius b&ndash;)</h1>
		</div>
	</div>
</div>
<div id="container" class="small-4 small-offset-4 columns">
	<form>
	<br><br>
		<div class="row">
			<div class="small-3 columns">
				<label for="username" class="right inline">Username: </label>
			</div>
			<div class="small-9 columns">
				<input type="text" id="username" name="username">
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<label for="password" class="right inline">Password: </label>
			</div>
			<div class="small-9 columns">
				<input type="text" id="password" name="password">
			</div>
		</div>
		<div class="row text-center">
			<a href="#" class="button">Log In</a>
		</div>
	</form>
</div>