<link rel="stylesheet" href="/styles/photo-style.css">
<link rel="stylesheet" href="/styles/lightbox.css">
<script language="javascript" type="text/javascript" src="/js/lightbox.js"></script>
<br>
<div class="row">
<div class="small-12 columns">
    <h1>Photos</h1>
    <a class="button" href="/photo/upload">Upload</a>
</div>
</div>

<div class="row">
<div class="small-4 columns">
        <% for(var i = 0; i < photos.length; i++){ %>
                <a href="javascript:lightbox('<img src=<%= photos[i].imageUrl %>>');">
                <img class="grid-image" src="<%= photos[i].imageUrl %>"></a>
            </div>
            <div class="small-4 columns">
        <% } %>
</div>