<div class="small-12 columns">
    <h1>Templates</h1>
</div>

<div id="container" class="container clearfix">
    <% for(var i = 0; i < templates.length; i++){ %>
    <div class="small-12 medium-12 large-9 xlarge-6 columns card-item">
        <div class="panel">
            <div><h1><%= templates[i].name %></h1></div>
            <iframe class="glass-preview" src="/template/preview/<%= templates[i].id %>"></iframe>
        </div>
    </div>
    <% } %>
</div>

<div class="small-12 columns">
    <a class="button" href="/template/create">New</a>
</div>
